<html>
    <head>
     <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
        <body>
             <% 
                    if( !result.borough ) 
                    result.borough = ""; 
                    if( !result.cuisine ) 
                    result.cuisine = ""; 
                    if( !result.address.street ) 
                    result.address.street = ""; 
                    if( !result.address.building ) 
                    result.address.building = ""; 
                    if( !result.address.zipcode ) 
                    result.address.zipcode = ""; 
                    if( !result.address.coord.latitude ) 
                    result.address.latitude = ""; 
                    if( !result.address.coord.longitude ) 
                    result.address.longitude = ""; 
                    if( !result.rating ) 
                    result.rating = ""; 
                %>

                <% if ( result.photo != '' ) { %>
                <center><img src="data:<%=result.mimetype%>;base64, <%=result.photo %>"></center>
                <% }; %>
            <label>Name: <%= result.name %> </label><br><hr />
            <label>Borough: <%= result.borough %> </label><br><hr />
            <label>Cuisine: <%=result.cuisine%></label><br><hr />
            <label>Street:  <%=result.address.street%></label><br><hr />
            <label>Building:  <%=result.address.building %></label><br><hr />
            <label>Zipcode: <%= result.address.zipcode %></label><br><hr />
            <label>GPS: <%= result.address.coord.latitude %> </label> , <label><%= result.address.coord.longitude %> </label><br><hr />
            <label>Rating: <%= result.grades.score %> <%= result.grades.user %> by </label><br><hr />
            <label>Created by:  <%=result.owner %> </label><br><hr />
            <label>Map</label><hr />
            


            <a href="/rate?_id=<%= result._id%>&ratename=<%= result.name%>">Rate</a>
            <a href="/update?_id=<%= result._id%>">Update</a>
            <form action='delete' method="post">
                <input type='hidden' name='_id'value='<%= result._id%>'/>
                <input type='hidden' name='owner'value='<%=result.owner%>'/>
                <input type="submit" value="Delete"/>
            </form>
            <form action='map' method="get">
                    <input type='hidden' name='latitude'value='<%= result.address.coord.latitude %>'/>
                    <input type='hidden' name='longitude'value='<%= result.address.coord.longitude %>'/>
                    <input type="submit" value="Map"/>
            </form>
            <form action="/index"><input type="submit" value="Go Back"/></form>
           
        
    </body>
</html>