
<% if(!login) {%>
<h2>Hello World</h2>
<% }else{ 
    var count=0;
    
    %>
    
    <% include header.ejs %>

            <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- Full width -->
            


            <form action="/Create">
            
                <button type="submit" class="btn" style="width:100%"><i class="fa fa-download"></i> Create Restaurant</button>
            </form>
                <h1>Welcome <%=username%></h1>
                <h2>Total Restaurant number is : <%= result.length %></h2>

                <form action="/index" method="get">
                 Search <input type='text' name='searchdate' />
                    <select name='search'>
                        <option name="name" value="name">name</option>
                        <option name="borough" value="borough">borough</option>
                        <option name="cuisine" value="mercedes">cuisine</option>
                        <option name="owner" value="owner">owner</option>
                    </select>
                    <input type='submit' value='search' />
                </form>
                    
                <form action="/index">
                    <input type="submit" value="Refresh all Restaurant"/><br><br>
                </form>
             <% 
                     if( typeof(searchdata) !="undefined") {
     
                       console.log(searchdata.name );
                    for ( var i = 0 ; i < searchdata.length; i++) {
                       
                            %> 
                            <a href="/display?_id=<%= searchdata[i]._id%>"><%= searchdata[i].name %> </a><br> <hr/>
                      
                      <%
                    }
                    
                    
                }
             %>



                    <div class='all'>
                    <% 
                    if( typeof(result) !="undefined") {
                    result.forEach(element => { 
                         count++;   %>    
                    <a href="/display?_id=<%= element._id%>"><%= element.name %> </a><br><br> <hr/><br><br>
                    <% });} %>
                    </div>

                    <br><br>
                    <form action="/logout"><input type="submit" value="Logout"/></form>
                </body>
</html>
    <% }%>